{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}LindaStore{% endblock %}</title>
        <link href="{% static "/css/base.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">LindaStore</a>
        </div>
        <div id="subheader">
            <div class="cart">
                {% with total_items=carrinho|length %}
                    {% if carrinho|length > 0 %}
                        Seu carrinho: 
                        <a href='{% url 'carrinho:carrinho_detail' %}'>
                            {{ total_items }} item {{ total_items|pluralize }},
                            ${{ carrinho.get_total_price }}
                        </a>
                    {% else %}
                        Seu carrinho está vazio.
                    {% endif%}
                {% endwith %}
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>